.blog-page h1 {
    font-size: 1.5rem;
}

.blog-page h2 {
    font-size: 1.2rem;
    margin-bottom: .3em;
}

.blog-date {
    font-weight: 200;
    font-style: italic;
}

code {
    font-family: consolas;
    font-weight: 300
}